<h2 mat-dialog-title>Add New Challenge</h2>
<mat-dialog-content>
  <form #challengeForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input class="myInput" matInput [(ngModel)]="challenge.title" name="title" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea  matInput [(ngModel)]="challenge.description" name="description" required></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!challenge.title || !challenge.description">
    Submit
  </button>
</mat-dialog-actions>
