.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
  }
  
  .login-card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(255, 0, 98);
    background-color: #ffffff;
  }
  
  .login-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 0, 98);
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
  }
  
  .form-field {
    width: 100%;
  }
  
  .form-button {
    width: 100%;
    font-size: 16px;
    align-self: center;
  }