.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin-top: 30px;
  }


  .loading-message {
    text-align: center;
    font-size: 18px;
    color: #666;
  }

