


  .challenge-list-container {
    display: flex;
    flex-wrap: wrap; /* מאפשר שבירת שורות */
    gap: 15px; /* ריווח בין הכרטיסים */
    justify-content: center; /* מרכז את הכרטיסים */
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  
  mat-card {
    width: 100%; /* הכרטיס יתפוס את כל הרוחב של הקונטיינר */
    height: 100%; /* הכרטיס יתפוס את כל הגובה של הקונטיינר */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* מפזר את התוכן בתוך הכרטיס */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

  }
  
  mat-card-header {
    background-color: #e3f2fd;
    border-bottom: 1px solid #90caf9;
    border-radius: 8px 8px 0 0;
  }
  
  mat-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  mat-card-subtitle {
    font-size: 14px;
    color: #757575;
  }
  
  mat-card-content {
    flex-grow: 1; /* גורם לתוכן המרכזי להתפרס */
    display: flex;
    flex-direction: column;
    justify-content: center; /* מרכז את התוכן */
    align-items: center;
  }
  
  mat-card-actions {
    margin-top: auto; /* דוחף את הכפתורים לתחתית הכרטיס */
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
  
  button {
    font-size: 14px;
  }


  .add-challenge-button {
    font-size: 18px; /* גודל גופן גדול יותר */
    padding: 15px 30px; /* ריווח פנימי רחב */
    background-color:  #90caf9;; /* צבע רקע בולט */
    color: rgb(0, 0, 0); /* צבע טקסט */
    border-radius: 8px; /* פינות מעוגלות */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* צל לכפתור */
  }
  
   .add-challenge-button:hover {
    background-color: #f090b2; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
   }
  
