<div class="challenge-list-container">
    <h2 class="title">Challenge list</h2>
    @for(challenge of challenges; track challenge.id){
    <div class="challenge-card"></div>
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Challenge: {{ challenge.title }}</mat-card-subtitle>
            <mat-card-subtitle>{{challenge.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong> Winner details:</strong></p>
            @if(challenge.winnerDetails){
            <p>
                Name: {{ challenge.winnerDetails.name }}<br>
                Email: {{ challenge.winnerDetails.email }}
            </p>
            @if (challenge.winnerImage) {

            <a [href]="challenge.winnerImage.imageUrl" target="_blank" class="winner-link">
                View Winning Image 👈
            </a>
            }

            }
            @else{
            <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
            <span>No Winner already</span>

            <mat-card-actions>
                <button mat-raised-button class="add-challenge-button" (click)="closeChallenge(challenge.id)">
                    finish challenge
                </button>
            </mat-card-actions>
            }
        </mat-card-content>


    </mat-card>

    }
</div>


@if (load==true) {

<button class="add-challenge-button" color="accent" (click)="openAddChallengeDialog()">
    Add Challenge
</button>
}