
<!-- <app-votegraph></app-votegraph> -->
 <!-- <app-challenge-action></app-challenge-action> -->



 <!-- <div class="dashboard-container">
    <h1 class="dashboard-title">אפליקציית מנהל</h1>
    <div class="menu-container">
      <button mat-raised-button color="primary" (click)="navigateTo('reports')">
        דווח
      </button>
      <button mat-raised-button color="accent" (click)="navigateTo('challenges')">
        רשימת אתגרים
      </button>
    </div>
  </div> -->


  <div class="menu-container">
    <button mat-raised-button color="primary" (click)="navigateTo('reports')">
      דווח
    </button>
    <button mat-raised-button color="accent" (click)="navigateTo('challenges')">
      רשימת אתגרים
    </button>
  </div>