/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/rose-red.css";


html, body { height: 100%; }
body {position: relative; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* body {
    background-image: url('assets/background.jpg');
    background-color: rgba(255, 255, 255, 0.01);
    background-image: linear-gradient(rgba(255, 251, 251, 0), rgba(255, 255, 255, 0)), url('assets/background.jpg');
    
    background-repeat: no-repeat;
} */

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* שקיפות של התמונה */
    z-index: -1; /* מוודא שהתמונה לא תכסה את התוכן */
}
